@using UniversityManagementSystem.Models
@model DepartmentModel

@{
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml"; 
    string message = ViewBag.message;
}


<div >
    <div >



        @using (Html.BeginForm("Save", "Department", FormMethod.Post, new {id = "DepartmentForm", Class = ""}))
        {
            <table>

                <tr>

                    <td>
                        @Html.LabelFor(x => x.Code,new { @class = "Label1" })
                    </td>

                    <td>
                        @Html.TextBoxFor(x => x.Code, new { @class = "input100" })
                        @Html.ValidationMessageFor(x => x.Code)
                    </td>

                </tr>
                <tr>

                    <td>
                        @Html.LabelFor(x => x.Name, new { @class = "Label1" })
                    </td>

                    <td>
                        @Html.TextBoxFor(x => x.Name, new { @class = "input100" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </td>

                </tr>

                <tr >
                    <td></td>
                    <td >
                        <input type="submit" class="button0" value="Save" />
                    </td>
                    <td>
                        @if (message != null)
                        {
                            @Html.Label(@message)

                        }
                    </td>

                </tr>

            </table>

        }
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        <script src="~/Scripts/jquery-1.12.4.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
</div> 