@using UniversityManagementSystem.Models
@model DepartmentModel

@{
    Layout = null;
    string message = ViewBag.message;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>

    <link href="~/Content/MyDesign/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/MyDesign/main.css" rel="stylesheet" />
    <script src="~/Content/MyDesign/jquery-3.2.1.min.js"></script>
    <script src="~/Content/MyDesign/main.js"></script>

    <link href="~/Content/MyDesign/NavBar.css" rel="stylesheet" />



</head>
<body>


    <!-- navBar -->


    <ul>



        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Unassign</a>
            <div class="dropdown-content">
                <a href="#">Unassign All Courses </a>
                <a href="#">Unallocate All Classroom</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Menu</a>
            <div class="dropdown-content">
                <a href="http://localhost:3036/RegisterStudent/Save">Register Student</a>
                <a href="http://localhost:3036/AllocateClassroom/Allocate">Allocate Classroom</a>
                <a href="http://localhost:3036/ViewClassSchedule/ViewClassSchedule">View Class Schedule and Room</a>

                <a href="http://localhost:3036/EnrollCourse/Enroll"> Enroll In a Course </a>
                <a href="http://localhost:3036/StudentRsult/Save"> Save Student Result</a>
                <a href="http://localhost:3036/ViewResult/ViewResult"> View Result </a>

            </div>
        </li>


        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Category</a>
            <div class="dropdown-content">
                <a href="http://localhost:3036/Department/Save">Save Department</a>
                <a href="http://localhost:3036/ViewDepartment/ViewAllDepartment">View All Department</a>
                <a href="http://localhost:3036/SaveCourse/Save">Save Course</a>
                <a href="http://localhost:3036/SaveTeacher/Save">Save Teacher</a>
                <a href="http://localhost:3036/CourseToTeacher/Save">Course Assign To Teacher</a>
                <a href="http://localhost:3036/ViewCourseStatics/ViewCourse">View Course Statics</a>
            </div>
        </li>

        <li><a href="#">Home</a></li>
        <li><a href="#">News</a></li>
    </ul>

    <!-- navBar -->



<div class="container-contact100">
    <div class="wrap-contact100">



        @using (Html.BeginForm("Save", "Department", FormMethod.Post, new {id = "DepartmentForm", Class = ""}))
        {
            <table>

                <tr>

                    <td>
                        @Html.LabelFor(x => x.Code)
                    </td>

                    <td>
                        @Html.TextBoxFor(x => x.Code, new { @class = "input100" })
                        @Html.ValidationMessageFor(x => x.Code)
                    </td>

                </tr>
                <tr>

                    <td>
                        @Html.LabelFor(x => x.Name)
                    </td>

                    <td>
                        @Html.TextBoxFor(x => x.Name, new { @class = "input100" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </td>

                </tr>

                <tr >
                    <td></td>
                    <td >
                        <input type="submit" class="fa fa-paper-plane-o m-r-6" value="Save" />
                    </td>
                    <td>
                        @if (message != null)
                        {
                            @Html.Label(@message)

                        }
                    </td>

                </tr>

            </table>

        }
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        <script src="~/Scripts/jquery-1.12.4.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
</div>
</body>
</html>
