@using System.ServiceModel.Channels
@using UniversityManagementSystem.Models
@model CourseToTeacherModel
    @{
        Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";

        List<DepartmentModel> departments = ViewBag.departments;
        List<Semester> semesters = ViewBag.semesters;
        string message = ViewBag.message;
    }

    <div>

    @using (@Html.BeginForm(new {id = "SaveCourseForm"}))
    {


        <table>

            <tr>
                <td>@Html.Label("Department")</td>
                <td>@Html.DropDownList("DepartmentId", new SelectList(departments, "Id", "Code"), "--Select--", new {@class = "Textbox1"})</td>
                <td>@Html.ValidationMessageFor(x => x.DepartmentId)</td>
            </tr>
            <tr>
                <td>@Html.Label("Teacher")</td>

                <td>@Html.DropDownList("TeacherId", new SelectList(""), "--Select--", new { @class = "Textbox1" })</td>
                <td>@Html.ValidationMessageFor(x => x.TeacherId)</td>
            </tr>
            <tr>
                <td>@Html.Label("Credit")</td>
                <td>@Html.TextBox("Credit", "", new { @readonly = true ,@class="Textbox1" }  )</td>

            </tr>
            <tr>
                <td>@Html.Label("Remainig Credit")</td>
                <td>@Html.TextBox("RemainigCredit" , "", new {  @readonly = true,@class="Textbox1" })</td>
            </tr>

            <tr>
                <td>@Html.Label("Course")</td>
                <td>@Html.DropDownList("CourseId", new SelectList(""), "--Select--", new{ @class = "Textbox1" })</td>
                <td>@Html.ValidationMessageFor(x => x.CourseId)</td>
            </tr>
            <tr>
                <td>@Html.Label("Name")</td>
                <td>@Html.TextBox("Name", "", new { @readonly = true, @class="Textbox1" })</td>
                
            </tr>
            <tr>
                <td>@Html.Label("Course Credit")</td>
                <td>@Html.TextBox("CourseCredit", "", new { @readonly = true,@class="Textbox1"  })</td>
            </tr>



            <tr>
                <td>
                    @if (message != null)
                    {
                        @Html.Label(@message)
                    }
                </td>
                <td>
                    <input type="submit" value="Assign" class="button0"/>
                </td>
            </tr>
        </table>

    }




    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script>


        $(document).ready(function() {

            $('#DepartmentId').change(function () {

                var departmentId = $('#DepartmentId').val();

                var json = { deptId: departmentId };

                $.ajax({
                    type: "POST",

                    url: '@Url.Action("TeacherByDepartmentId", "CourseToTeacher")',
                    //url: '/Department/GetStudentsByDepartmentId',

                    contentType: "application/json; charset=utf-8",

                    data: JSON.stringify(json),

                    success: function(data) {


                        //$("#StudentDetails").empty();
                        $("#TeacherId").empty();

                        $("#TeacherId").append('<option value="">--Select--</option>');


                        $.each(data, function(key, value) {

                            $("#TeacherId").append('<option value=' + value.Id + '>' + value.Name + '</option>');
                            //$("#StudentDetails").append('<tr> <td>'+value.StudentName+'</td>   <td>'+value.Address+'</td>   <td>'+value.DepartmentName+'</td></tr>');
                        });
                    }
                });
            });
        });


        $(document).ready(function() {

            $('#TeacherId').change(function() {

                var TeacherId = $('#TeacherId').val();

                var json = { teacherId: TeacherId };

                $.ajax({
                    type: "POST",

                    url: '@Url.Action("TeacherByTeacherId", "CourseToTeacher")',
                    //url: '/Department/GetStudentsByDepartmentId',

                    contentType: "application/json; charset=utf-8",

                    data: JSON.stringify(json),

                    success: function(data) {


// $("#TeacherId").empty();

                        //$('#Credit').append(data.Credit);
                        //$('#RemainigCredit').append(data.RemainigCredit);

                        $("#Credit").val(data.Credit);
                        $("#RemainigCredit").val(data.RemainingCredit);

                    }
                });

            });
        });


        $(document).ready(function() {

            $('#DepartmentId').change(function () {

                var departmentId = $('#DepartmentId').val();

                var json = { deptId: departmentId };

                $.ajax({
                    type: "POST",

                   url: '@Url.Action("CourseByDepartmentId", "CourseToTeacher")',
                    //url: '/Department/GetStudentsByDepartmentId',

                    contentType: "application/json; charset=utf-8",

                    data: JSON.stringify(json),

                    success: function(data) {


                        //$("#StudentDetails").empty();
                        $("#CourseId").empty();

                        $("#CourseId").append('<option value="">--Select--</option>');


                        $.each(data, function(key, value) {

                            $("#CourseId").append('<option value=' + value.Id + '>' + value.Code + '</option>');
                            //$("#StudentDetails").append('<tr> <td>'+value.StudentName+'</td>   <td>'+value.Address+'</td>   <td>'+value.DepartmentName+'</td></tr>');
                        });
                    }
                });
            });
        });


        $(document).ready(function() {

            $('#CourseId').change(function() {

                var TeacherId = $('#CourseId').val();

                var json = { courseId: TeacherId };

                $.ajax({
                    type: "POST",

                    url: '@Url.Action("CourseByCourseId", "CourseToTeacher")',
                    //url: '/Department/GetStudentsByDepartmentId',

                    contentType: "application/json; charset=utf-8",

                    data: JSON.stringify(json),

                    success: function(data) {


// $("#TeacherId").empty();

                        //$('#Credit').append(data.Credit);
                        //$('#RemainigCredit').append(data.RemainigCredit);

                        $("#Name").val(data.Name);
                        $("#CourseCredit").val(data.Credit);

                    }
                });

            });
        });


    </script>


    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>