@using UniversityManagementSystem.Models
@using UniversityManagementSystem.Models.ViewModel

@model SaveTeacher
@{
    Layout = null;
    List<Department> departments = ViewBag.departments;
    List<DesignationModel> designations = ViewBag.designations;
    string message = ViewBag.message;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
</head>
<body>
<div>


    @using (@Html.BeginForm(new { id = "SaveTeacherForm" }))
    {


        <table>
            <tr>
                <td>@Html.LabelFor(x => x.Name)</td>
                <td>@Html.TextBoxFor(x => x.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Address)</td>
                <td>@Html.TextBoxFor(x => x.Address)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Email)</td>
                <td>@Html.TextBoxFor(x => x.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.ContactNo)</td>
                <td>@Html.TextBoxFor(x => x.ContactNo)</td>
            </tr>


            <tr>
                <td>@Html.Label("DesignationId")</td>
                <td>@Html.DropDownList("DesignationId", new SelectList(designations, "Id", "Name"), "--Select--","")</td>
            </tr>
            <tr>
                <td>@Html.Label("DepartmentID")</td>
                <td>@Html.DropDownList("DepartmentID", new SelectList(departments, "Id", "Code"), "--Select--","")</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(x => x.Credit)</td>
                <td>@Html.TextBoxFor(x => x.Credit)</td>
            </tr>


            <tr>
                <td>
                    @if (message != null)
                    {
                        @Html.Label(@message)
                    }
                </td>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>

    }



</div>
</body>
</html>
