@using UniversityManagementSystem.Models
@using UniversityManagementSystem.Models.ViewModel

@model SaveTeacherModel
@{
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
    List<DepartmentModel> departments = ViewBag.departments;
    List<DesignationViewModel> designations = ViewBag.designations;
    string message = ViewBag.message;
} 

<div>


    @using (@Html.BeginForm(new {id = "SaveTeacherForm"}))
    {


        <table>
            <tr>
                <td>@Html.LabelFor(x => x.Name)</td>
                <td>@Html.TextBoxFor(x => x.Name , new {@class="Textbox1"})</td>
                <td>@Html.ValidationMessageFor(x => x.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Address)</td>
                <td>@Html.TextBoxFor(x => x.Address, new { @class = "Textbox1" })</td>
                <td>@Html.ValidationMessageFor(x => x.Address)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Email)</td>
                <td>@Html.TextBoxFor(x => x.Email, new { @class = "Textbox1" })</td>
                <td>@Html.ValidationMessageFor(x => x.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.ContactNo)</td>
                <td>@Html.TextBoxFor(x => x.ContactNo, new { @class = "Textbox1" })</td>
                <td>@Html.ValidationMessageFor(x => x.ContactNo)</td>
            </tr>


            <tr>
                <td>@Html.Label("Designation")</td>
                <td>@Html.DropDownList("DesignationId", new SelectList(designations, "Id", "Name"), "--Select--", new { @class = "Textbox1" })</td>
                <td>@Html.ValidationMessageFor(x => x.DesignationId)</td>
            </tr>
            <tr>
                <td>@Html.Label("Department")</td>
                <td>@Html.DropDownList("DepartmentId", new SelectList(departments, "Id", "Code"), "--Select--", new { @class = "Textbox1" })</td>
                <td>@Html.ValidationMessageFor(x => x.DepartmentId)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(x => x.Credit)</td>
                <td>@Html.TextBoxFor(x => x.Credit, new { @class = "Textbox1" })</td>
                <td>@Html.ValidationMessageFor(x => x.Credit)</td>
            </tr>


            <tr>
                <td>
                    @if (message != null)
                    {
                        @Html.Label(@message)
                    }
                </td>
                <td>
                    <input type="submit" value="Save" class="button0"/>
                </td>
            </tr>
        </table>

    }



    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</div> 