@using System.ServiceModel.Channels
@using UniversityManagementSystem.Models
@model SaveCourseModel
@{
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml"; 

    List<DepartmentModel> departments = ViewBag.departments;
    List<Semester> semesters = ViewBag.semesters;
    string message = ViewBag.message;
}
 
<div>


    @using (@Html.BeginForm(new { id = "SaveCourseForm" }))
{


    <table>
        <tr>
            <td>@Html.LabelFor(x=>x.Code)</td>
            <td>
                @Html.TextBoxFor(x => x.Code, new {@class = "Textbox1"})
            </td>
            <td>
                @Html.ValidationMessageFor(x => x.Code)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Name)</td>
            <td>@Html.TextBoxFor(x => x.Name, new { @class = "Textbox1" })</td>
            <td>
                @Html.ValidationMessageFor(x => x.Name)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Credit)</td>
            <td>
                @Html.TextBoxFor(x => x.Credit, new { @class = "Textbox1" })
            </td>
            <td>
                @Html.ValidationMessageFor(x => x.Credit)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Description)</td>
            <td>@Html.TextBoxFor(x => x.Description, new { @class = "Textbox1" })</td>
            <td>
                @Html.ValidationMessageFor(x => x.Description)
            </td>
        </tr>
        <tr>
            <td>@Html.Label("Department")</td>
            <td>
                @Html.DropDownList("DepartmentID", new SelectList(departments, "Id", "Code"), "--select--", new { @class = "Textbox1" })
        </td>
        <td>@Html.ValidationMessageFor(x => x.DepartmentID)</td>
        </tr>
        <tr>
            <td>@Html.Label("Semester")</td>
            <td>
                @Html.DropDownList("SemesterID", new SelectList(semesters, "Id", "Name"), "--Select--", new { @class = "Textbox1" })
        </td>
        <td> @Html.ValidationMessageFor(x => x.SemesterID)</td>
             </tr>
        <tr>
            <td>
                @if (message != null)
                {
                    @Html.Label(@message)
                }
            </td>
            <td>
                <input type="submit" value="Save" class="button0"/>
            </td>
        </tr>
    </table>

    }


    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</div> 